.Playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 37%;
    max-height: 950px;
    padding: .88rem;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
  }

  .PlaylistName {
    display: flex;
    align-items: center;
    border-bottom: solid lightgray 1px;
  }

  
  .PlaylistName:hover {
    color:  rgb(188, 28, 236);
    cursor: pointer;
  }

  .input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 1.55rem;
    color: rgba(255,255,255, 0.6);
    text-align: center;
  }

  .input:hover {
    color:  rgb(188, 28, 236);
    cursor: pointer;
  }
  
  .icon {
    margin-right: 1.5rem;
  }

  .icon:hover {
    color: rgb(188, 28, 236);
    cursor: pointer;
  }

  .Tracklist {
    justify-items: center;
    align-items: center;
  }

  .PlaylistSave {
    cursor: pointer;
    width: 10rem;
    padding: .77rem 0;
    border-radius: 54px;
    border-width: 0px;
    margin-top: 1.27rem;
    background-color: #6c41ec;
    text-align: center;
    font-size: .83rem;
    transition: background-color .25s;
    color: #fff;
    font-weight: 500;
  }
  
  .PlaylistSave:hover {
    background-color: rgba(108, 65, 233, .7);
  }

  .PlaylistSave:active {
    transform: translateY(2px);
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .Playlist {
      width: 90%;
    }
  }